<div class="mobile-menu is-open" data-menu>
    <div class="navbar-header"> 
        <a href="index.html" class="mobile-menu-logo">
            <svg class="navbar-header-icons" width="84" height="36">
                <use href="/img/icons.svg#icon-company-logo"></use>
            </svg>
        </a>
        <button class="navbar-button is-open" data-menu-close>
            <svg class="menu-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="navbar-footer" >
        <ul class="navbar-footer-list">
            <li class="navbar-footer-items"><a href="#aboutus" class="navbar-footer-text">About us</a></li>
            <li class="navbar-footer-items"><a href="#benefits" class="navbar-footer-text">Benefits</a></li>
            <li class="navbar-footer-items"><a href="#gallery" class="navbar-footer-text">Gallery</a></li>
            <li class="navbar-footer-items"><a href="#testimonial" class="navbar-footer-text">Testimonial</a></li>
            <li class="navbar-footer-items"><a href="#location" class="navbar-footer-text">Location</a></li>
        </ul>
    </div>
</div>


