<section class="quality" id="benefits">
  <div class="container container-quality">
    <div class="quality-block">
      <p class="quality-title">Quality</p>
      <h2 class="quality-subtitle">Why CoffeeJoy Stands Out from the Rest</h2>
      <p class="quality-text">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>
    <ul class="quality-list">
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/quality/difference-1-desktop-min.jpg    1x,
              /img/quality/difference-1-desktop@2x-min.jpg 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/difference-1-tablet-min.jpg    1x,
              /img/quality/difference-1-tablet@2x-min.jpg 2x
            "
            width="340"
            height="194"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/difference-1-mobile-min.jpg    1x,
              /img/quality/difference-1-mobile@2x-min.jpg 2x
            "
            width="288"
            height="164"
          />
          <img
            class="quality-img"
            src="/img/quality/difference-1-desktop-min.jpg"
            alt="Freshly brewed coffee in a cup"
            width="288"
            height="164"
          />
        </picture>
        <h3 class="quality-img-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="quality-img-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/quality/difference-2-desktop-min.jpg    1x,
              /img/quality/difference-2-desktop@2x-min.jpg 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/difference-2-tablet-min.jpg    1x,
              /img/quality/difference-2-tablet@2x-min.jpg 2x
            "
            width="340"
            height="194"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/difference-2-mobile-min.jpg    1x,
              /img/quality/difference-2-mobile@2x-min.jpg 2x
            "
            width="288"
            height="164"
          />
          <img
            class="quality-img"
            src="/img/quality/difference-2-desktop-min.jpg"
            alt="Barista preparing coffee at the bar"
            width="288"
            height="164"
          />
        </picture>
        <h3 class="quality-img-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-img-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/quality/difference-3-desktop-min.jpg    1x,
              /img/quality/difference-3-desktop@2x-min.jpg 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/difference-3-tablet-min.jpg    1x,
              /img/quality/difference-3-tablet@2x-min.jpg 2x
            "
            width="704"
            height="401"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/difference-3-mobile-min.jpg    1x,
              /img/quality/difference-3-mobile@2x-min.jpg 2x
            "
            width="288"
            height="164"
          />
          <img
            class="quality-img"
            src="/img/quality/difference-3-desktop-min.jpg"
            alt="Cozy coffee shop interior"
            width="288"
            height="164"
          />
        </picture>
        <h3 class="quality-img-title">Cozy Atmosphere</h3>
        <p class="quality-img-text">
          We don't just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
