.gallery {
    padding: 64px 0;
}

.gallery-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.gallery-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.gallery-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 24px;
}

.gallery-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.gallery-list li picture {
    width: 100%;
    height: auto;
}

.gallery-img img {
    border-radius: 32px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {

    .img-container {
        margin: 0 auto;
        justify-content: space-between;
    }

    .gallery-list {
        flex-direction: row;
        flex-wrap: wrap; 
        gap: 32px;          
    }

    .gallery-list li {
        width: calc(50% - 32px);
    }

    .gallery-list li:last-child {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {

    .gallery-description-container {
        justify-content: space-between;
    }

    .img-container {
        justify-content: space-between;
    }

    .gallery-title {
        font-size: 48px;
    }

    .gallery-list {
        display: block;
        column-count: 3;
        column-gap: 32px;
    }

    .gallery-list li {
        width: 100%;
        break-inside: avoid;
        margin-bottom: 32px;
    }
}