.hero {
    background-image: url("/img/hero/hero-mobile-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 108px 0;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url("/img/hero/hero-mobile@2x-min.jpg");
    }
}

.hero-content {
    max-width: 256px;
}

.hero-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 24px;
}

.hero-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 32px;
}

.hero-button {
    border-radius: 100px;
    border: none;
    padding: 10px 24px;
    box-shadow: 0 1px 2px rgba(11, 8, 3, 0.05),
        inset 0 -2px 1px rgba(0, 0, 0, 0.2),
        inset 0 0 0 1px rgba(11, 8, 3, 0.15),
        inset 0 2px 1px rgba(255, 255, 255, 0.25),
        inset 0 32px 24px rgba(255, 255, 255, 0.05);
    background: #6F4E37;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    transition: opacity 250ms ease;
}

.hero-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url("/img/hero/hero-min.jpg");
        padding-top: 311px;
        padding-bottom: 311px;
    }

    .hero-content {
        max-width: 560px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url("/img/hero/hero@2x-min.jpg");
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background-image: url("/img/hero/hero-desktop-min.jpg");
        padding-top: 259px;
        padding-bottom: 259px;
    }

    .hero-title {
        width: 400px;
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url("/img/hero/hero-desktop@2x-min.jpg");
    }
}