.mobile-menu {
    position: fixed;
    z-index: 1000;
    opacity: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    background-color: #E0CBB4;
    transform: translateY(-100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.mobile-menu.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.navbar-header {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-logo {
    display: flex;
    align-items: center;
}

.navbar-button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.navbar-footer-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
}

.navbar-footer-list {
    padding-bottom: 57px;
    max-height: 376px;
    pointer-events: auto;
}

.navbar-footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}