.subscribe {
    padding: 64px 0;
}

.container-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    width: 288px;
    margin-bottom: 32px;
}

.subscribe-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.subscribe-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.form-email{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.inp-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.input-subscribe{
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 12px;
    padding: 8px 12px;
    width: 288px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(11, 8, 3, 0.6);
    background-color: rgba(255, 255, 255, 0);
}

.input-subscribe:hover {
    border: 1px solid #7F1C1C;
    color: #7F1C1C;
}

.input-subscribe::placeholder {
    color: rgba(11, 8, 3, 0.6);
}

.input-subscribe:not(:placeholder-shown):invalid {
    border-color: red;
}

.input-subscribe:not(:placeholder-shown):valid {
    border-color: green;
}

.text-valid,
.text-invalid {
    font-size: 12px;
    display: none;
}

.text-valid {
    color: green;
}

.text-invalid {
    color: red;
}

.input-subscribe:not(:placeholder-shown):valid~.text-valid {
    display: block;
}

.input-subscribe:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
}

.button-subscribe {
    border-radius: 100px;
    padding: 10px 24px;
    width: 288px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.1);
    background: #6f4e37;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus-visible {
    opacity: 0.5;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.1);
}

.button-subscribe:active {
    opacity: 1;
    box-shadow: none;
    background: #6f4e37;
}

.button-subscribe:disabled {
    opacity: 0.2;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.1);
    cursor: default;
}

.chevrons{
    padding-left: 12px;
    fill: #fff;
}

.consent{
    font-size: 12px;
    line-height: 1.5;
}

.photo-style{
    width: 288px;
    height: 400px;
}

.images-subscribe{
    border-radius: 40px;
}

@media screen and (min-width: 768px){
.label-subscribe {
    margin-bottom: 0;
}

.photo-style{
    width: 704px;
    height: 400px;
}

.input-subscribe{
    width: 340px;
    height: 44px;
}

.button-subscribe{
    width: 158px;
    height: 44px;
    margin-left: 24px;
}

.form-container{
    width: 704px;
}
}

@media screen and (min-width: 1440px){
.container-subscribe{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.subscribe-title{
    font-size: 48px;
}

.input-subscribe {
    width: 339px;
}

.photo-stylee {
    width: 640px;
    height: 400px;
}

.form-container{
    padding-top: 62px;
}
}