.reviews {
    padding: 64px 0;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin: 0;
}

.review-list,
.stars {
    list-style: none;
    padding: 0;
    margin: 0;
}

.review-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.review-card {
    background-color: #c29d84;
    width: 288px;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .review-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .review-card {
        width: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1440px) {
    .review-card {
        width: calc((100% - 72px) / 4);
    }

    .review-title {
        width: 416px;
        height: 116px;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
}

.stars {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

.review-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 24px;
}

.review-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-top: auto;
    margin-bottom: 0;
}

.icon {
    fill: none;
    stroke: #0b0803;
}
