.wellcome {
  padding: 64px 0;
}

@media (min-width: 768px) {
  .welcome-container {
  display: flex;
}
}

.up-title-wellcome {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.title-wellcome {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.wellcome-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.button-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto 32px;
  width: 288px;
  height: 44px;
  padding: 10px 24px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  background: #6f4e37;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-marker {
  fill: #fff;
  margin-left: 14px;
}

.button-loc:hover,
.button-loc:focus-visible {
  opacity: 0.5;
}

.button-loc:active {
  opacity: 1;
  box-shadow: none;
}

.button-loc:disabled {
  opacity: 0.2;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15);
  cursor: default;
}

.wellcome-img-container {
    overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
}

.wellcome-img {
  border-radius: 40px;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .welcome-container {
    padding: 0 32px;
  }

  .wellcome-part {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 50%;
  }

  .up-title-wellcome {
    margin-bottom: 16px;
    margin-top: 0;
  }

  .wellcome-part-two {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    width: 50%;
    margin-bottom: 32px;
  }

  .wellcome-text {
    margin-bottom: 0;
  }

  .button-loc {
    margin-left: 0;
    margin-bottom: 0;
  }

  .wellcome-img {
    margin-bottom: 32px;
    overflow: hidden; 
    width:100%
  }
}

@media screen and (min-width: 1440px) {
  .welcome-container {
    padding: 0 64px;
  }

  .wellcome-part-two {
    margin-bottom: 80px;
  }
}
